/* Estilos para dispositivos móviles de 980px */
@media screen and (max-width: 980px) {
  .contenedor {
    flex-direction: column;
  }

  .contenedor__titulo {
    margin-bottom: 2rem;
  }

  .form {
    width: 90%;
    margin: 0 auto;
  }

  .form__titulo {
    padding: 1.5rem;
  }

  .form__contenedoriconos {
    width: 70%;
  }

  .form__input {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .form__input-color {
    width: 90%;
    margin-top: 2rem;
  }
}

/* Estilos para dispositivos móviles de 700px */
@media screen and (max-width: 700px) {
  .contenedor__subtitulo {
    font-size: 1.2rem;
  }

  .contenedor__boton {
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  .form__titulo {
    padding: 1rem;
  }

  .form__parrafo {
    padding: 1.5rem 0;
  }

  .form__input {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  .form__input-color {
    width: 100%;
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}
