/* Estilos específicos para dispositivos móviles */
.contenedor {
  padding: 20px;
}

.contenedor__mensaje {
  text-align: center;
  margin-bottom: 20px;
}

.contenedor__subtitulo {
  font-size: 24px;
  margin-bottom: 10px;
}

.contenedor__parrafo {
  font-size: 16px;
  margin-bottom: 10px;
}

.contenedor__boton {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.form__titulo {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form__contenedoriconos {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form__iconos {
  margin-right: 10px;
}

.form__parrafo {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

.form__button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
